
:root {
      --h1-color: #fff;
    --main-bg: #000000;
    --button-color:#4e54c8;
    --info-color:#0f3468;
    --character-color: #0f3460;
    --cool-text-color: #e94560;
    --character-li-color: #221655;
}

* {
    margin: 0;
    padding: 0;
}
body {
    color: #000;
    font-family: fantasy;
    background: var(--main-bg);
    text-align: center;
    padding: 1rem;  
    

}
header {
    margin: 2rem;
}
.outline{
    font-size: 40px;
    font-weight: 700;
    color: black;
    -webkit-text-stroke: .5px rgb(149, 170, 47);
}

button {
    padding: 10px 20px;
    margin: 10px;
    border: none;
    border-radius: 10px;
    background: var(--button-color);
    color: #fff;
    cursor: pointer;

}
header img {
    
    width:60vw;
    height: 20vw;
    margin-right:20%;
    margin-bottom: 3em;
}
button:hover {
    background-color: violet;
}
input {
    width: 30vw;
    padding: 8px;
    margin: 10px auto;
    border-radius: 10px;
    border: 1px solid #ccc;

}
#character {
    background: var(--character-color);
    color: var(--cool-text-color);
    padding: 20px;
    margin: 30px auto;
    border-radius: 10px;
    max-width: 600px;

}

#characters {
    list-style: none;
    padding:0;

}
#characters li {
    background: var(--character-li-color);
    color: #fff;
    padding: 10px;
    margin: 10px auto;
    border-radius: 10px;
    max-width: 600px;
    cursor: pointer;
}
#bottom-img {
   width:100%;
   margin-top:0%;
}



@media (max-width: 600px) {
    input {
        width: 80vw;
    }
    
}
